/*  ----------------
       font
------------------- */
<style>
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@400;600&family=Moon+Dance&family=Poppins&display=swap');
</style>

.fot{
       text-align: center;
       background-color: #0A0826;
       color: #FFFFFF;
       height: 239px;
       margin-left: 5%;
       margin-right: 5%;
       margin-top: 10%;
   }